<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash_ventas.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Dashboard - Ventas</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-2 sidebar bg-light p-3 vh-100">
                <div class="text-center mb-4">
                    <p class="user-role fw-bold">{{ session.get('user_name', 'Usuario') }}</p>
                    <p class="user-organization text-muted">{{ session.get('user_role', 'Rol no definido') }}</p>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('catalogo_productos_ventas') }}">Catalogo de Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('ventas_inventario') }}">Inventario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('dashboard_ventas') }}">Dashboard Ventas</a>
                    </li>
                </ul>
            </div>

            <!-- Main Content -->
            <div class="col-10 px-5 py-4">
                <h1 class="mb-4">Reporte de Ventas</h1>
                <div class="mb-4">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                            <canvas id="ventas_mes" class="w-80, h-50"></canvas>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                            <canvas id="presentacion" class="w-60"></canvas>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                            <canvas id="galletas" class="w-80, h-50"></canvas>
                        </div>
                        <div class="col-md-3" id="top_clientes" style="font-size: 12px; overflow-y: auto;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <canvas id="ventas_ano" class="w-100"></canvas>
                    </div>
                    <div class="col-md-4" id="top_estados" style="font-size: 12px; overflow-y: auto;"></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        Chart.defaults.backgroundColor = '#094779';

        // Chart - Ventas Mes
        const ventas_mes = document.getElementById("ventas_mes");
        new Chart(ventas_mes, {
            type: 'bar',
            data: {
                labels: ['2023', '2024'],
                datasets: [{
                    label: 'Ventas de Noviembre',
                    data: [235, 195],
                    borderWidth: 1,
                    backgroundColor: ['#094779', '#50A1E2']
                }]
            },
            options: {
                scales: {
                    y: { beginAtZero: true }
                }
            }
        });

        // Chart - Presentación
        const presentacion = document.getElementById("presentacion");
        new Chart(presentacion, {
            type: 'doughnut',
            data: {
                labels: ['Medio kilo', '6 piezas'],
                datasets: [{
                    label: 'Caja',
                    data: [100, 50],
                    borderWidth: 1,
                    backgroundColor: ['#094779', '#50A1E2']
                }]
            }
        });

        // Chart - Galletas
        const galletas = document.getElementById("galletas");
        new Chart(galletas, {
            type: 'bar',
            data: {
                labels: ['Surtido', 'Naranja', 'Coco', 'Chocolate', 'Avena', 'Nuez'],
                datasets: [{
                    label: 'Ranking de Galletas',
                    data: [50, 45, 40, 39, 37, 20],
                    borderWidth: 1,
                    backgroundColor: ['#094779', '#50A1E2']
                }]
            },
            options: {
                scales: {
                    y: { beginAtZero: true }
                }
            }
        });

        // GridJS - Top Clientes
        new gridjs.Grid({
            columns: [{ name: 'Nombre', sort: false }, 'Ticket Promedio'],
            data: [
                ['John Doe', '$5,201'],
                ['Marck Zill', '$5,156'],
                ['Alice Peterson', '$5,006'],
                ['Sara Jhonson', '$4,569'],
                ['Damian Flaggs', '$4,332'],
                ['Perla Castro', '$3,956'],
                ['Jorge Lopez', '$2,589'],
                ['Joseph Turner', '$2,365'],
                ['Ivan Cruz', '$2,124'],
                ['Mary Smith', '$1,598'],
            ],
            sort: true,
            style: { th: { color: '#094779' } }
        }).render(document.getElementById('top_clientes'));

        // Chart - Ventas Año
        const ventas_ano = document.getElementById("ventas_ano");
        new Chart(ventas_ano, {
            type: 'scatter',
            data: {
                labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                datasets: [{
                    type: 'line',
                    label: 'Ventas 2023',
                    data: [16, 23, 30, 40, 43, 23, 45, 23, 12, 32, 65, 56]
                }, {
                    type: 'line',
                    label: 'Ventas 2024',
                    data: [20, 45, 23, 45, 36, 34, 65, 12, 15, 30, 70, 50],
                    backgroundColor: '#50A1E2'
                }],
            },
            options: {
                scales: {
                    y: { beginAtZero: true }
                }
            }
        });

        // GridJS - Top Estados
        new gridjs.Grid({
            columns: [
                { name: 'Estado', sort: false },
                'Venta',
                'Cantidad'
            ],
            data: [
                ['Ciudad de México', '$50,201', 10000],
                ['Estado de México', '$50,156', 7000],
                ['Queretaro', '$50,006', 5000],
                ['Puebla', '$40,569', 4000],
                ['Aguascalientes', '$40,332', 3000],
                ['Nuevo Leon', '$30,956', 2500],
                ['Baja California', '$20,589', 2000],
                ['Yucatán', '$20,365', 1500],
                ['Quintana Roo', '$20,124', 1000],
                ['Colima', '$10,598', 500],
            ],
            sort: true,
            style: { th: { color: '#094779' } }
        }).render(document.getElementById('top_estados'));
    </script>
</body>

</html>
